* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #FF914D;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

p{
    font-size: 20px;
}
.principal{
    background-image: linear-gradient(rgb(236, 232, 232), rgb(197, 135, 93) );
}